<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <h1><%=@team[0]%></h1>
    <h1>Team Motto: <%=@team[1]%></h1>
    <%@heroes.each do |hero|%>
    <h2>Hero Name: <%=hero["name"]%></h2>
    Hero Power: <%=hero["power"]%><br>
    Hero Biography: <%=hero["bio"]%><br>
    <% end %>
  </body>
</html>
